/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.jplayer.org
 *
 * Skin Name: Dark Grey
 * Author: Constantin Saguin
 * Author URI : http://splash.brutal-design.com
 * Skin Version: 1.0 (jPlayer 2.1.0)
 * Date: 15st October 2011
 */
#jplayer_container {
  width: 100%;
}

div.jp-audio {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-shadow: none!important;
  min-width: 270px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px!important;
  background: #1b1b1b url("img/jplayer/jPlayer_bg.png") no-repeat;
}

.jp-audio #jp-logo {
  position: absolute;
  width: 120px;
  height: 60px;
  top: 3px;
  right: 5px;
  background: url("img/jplayer/jPlayer_logo.png");
}

div.jp-audio .jp-interface {
  position: static !important;
  position: relative;
  width: 90%;
  margin-top: 20px!important;
  margin-left: 5%;
  height: 70px;
  padding-top: 30px!important;
}

/* @group CONTROLS */
div.jp-controls-holder {
  clear: both;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

div.jp-interface ul.jp-controls {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 34px;
  margin: 0 auto;
}

div.jp-interface ul.jp-controls li {
  display: inline;
  float: left;
}

div.jp-interface ul.jp-controls a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  margin: 0;
  padding: 0;
}

/* @group playlist player controls */
div.jp-type-playlist .jp-controls li a {
  outline: none;
}

div.jp-type-playlist .jp-play {
  background: url("img/jplayer/jPlayer_sprite.png") 0 0;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 41px;
  left: 66px;
}

div.jp-type-playlist .jp-play:hover {
  background: url("img/jplayer/jPlayer_sprite.png") -60px 0;
}

div.jp-type-playlist .jp-pause {
  background: url("img/jplayer/jPlayer_sprite.png") -120px 0;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 41px;
  left: 66px;
}

div.jp-type-playlist .jp-pause:hover {
  background: url("img/jplayer/jPlayer_sprite.png") -180px 0;
}

div.jp-type-playlist .jp-previous {
  background: url("img/jplayer/jPlayer_sprite.png") 0 -60px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 52px;
  left: 27px;
}

div.jp-type-playlist .jp-previous:hover {
  background: url("img/jplayer/jPlayer_sprite.png") -40px -60px;
}

div.jp-type-playlist .jp-next {
  background: url("img/jplayer/jPlayer_sprite.png") -80px -60px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 52px;
  left: 127px;
}

div.jp-type-playlist .jp-next:hover {
  background: url("img/jplayer/jPlayer_sprite.png") -120px -60px;
}

/* @end */
/* @group progress bar */
.jp-progress {
  width: 70%;
  height: 5px;
  padding: 0;
  margin-top: 13px;
  margin-left: 15%;
  background: url("img/jplayer/jPlayer_sprite.png") 0 -116px repeat-x;
  z-index: 100;
}

.jp-seek-bar {
  background: url("img/jplayer/jPlayer_sprite.png") 0 -105px repeat-x;
  width: 0px;
  height: 100%;
  cursor: pointer;
}

.jp-play-bar {
  background: url("img/jplayer/jPlayer_sprite.png") 0 -110px repeat-x;
  width: 0px;
  height: 100%;
  overflow: hidden;
}

/* @end */
/* @group volume controls */
div.jp-interface ul.jp-controls a.jp-mute, div.jp-interface ul.jp-controls a.jp-unmute, div.jp-interface ul.jp-controls a.jp-volume-max {
  position: absolute;
  width: 16px;
  height: 12px;
}

div.jp-interface ul.jp-controls a.jp-mute {
  background: url("img/jplayer/jPlayer_sprite.png") -16px -122px no-repeat;
  opacity: 0.7;
  top: 80px;
  right: 28%;
}

div.jp-interface ul.jp-controls a.jp-mute:hover {
  opacity: 1;
}

div.jp-interface ul.jp-controls a.jp-unmute {
  background: url("img/jplayer/jPlayer_sprite.png") -32px -122px no-repeat;
  opacity: 0.7;
  top: 80px;
  right: 28%;
}

div.jp-interface ul.jp-controls a.jp-unmute:hover {
  opacity: 1;
}

div.jp-interface ul.jp-controls a.jp-volume-max {
  background: url("img/jplayer/jPlayer_sprite.png") 0 -122px no-repeat;
  opacity: 0.7;
  top: 80px;
  right: 3%;
}

div.jp-interface ul.jp-controls a.jp-volume-max:hover {
  background: url("img/jplayer/jPlayer_sprite.png") 0 -122px repeat-x;
  opacity: 1;
}

.jp-volume-bar {
  position: absolute;
  width: 28%;
  height: 4px;
  padding: 0;
  right: 5%!important;
  top: 71px!important;
  overflow: hidden;
  background: url("img/jplayer/jPlayer_sprite.png") 0 -116px repeat-x;
}

.jp-volume-bar:hover {
  cursor: pointer;
}

div.jp-audio .jp-interface .jp-volume-bar {
  top: 30px;
  right: 0;
}

.jp-volume-bar-value {
  background: url("img/jplayer/jPlayer_sprite.png") 0 -100px;
  height: 4px;
}

/* @end */
/* @group current time and duration */
.jp-current-time, .jp-duration {
  margin-top: -9px;
  width: 30px;
  font-size: 11px;
  color: #ccc;
  line-height: 11px!important;
}

.jp-current-time {
  float: left;
}

.jp-duration {
  float: right;
  text-align: right;
}

/* @end */
/* @group playlist */
.jp-playlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.jp-title li,
.jp-playlist li {
  position: relative;
  background-color: #333333;
  margin: 0 0 0 0;
  padding: 5px 20px 0;
  overflow: hidden;
  height: 30px!important;
  line-height: 35px!important;
  border-top: 1px solid #1a1a1a;
}

.jp-playlist li:nth-child(even) {
  background-color: #272727;
}

.jp-playlist li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 0 10%;
  height: 100%;
  line-height: 33px!important;
  text-decoration: none!important;
  outline: none;
}

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */
div.jp-type-playlist div.jp-playlist li:first-child {
  border-top: none;
  padding-top: 3px;
}

div.jp-type-playlist div.jp-playlist li:last-child {
  border-bottom: none;
  padding-bottom: 3px;
}

div.jp-type-playlist div.jp-playlist a {
  color: #ccc!important;
  text-decoration: none;
}

div.jp-type-playlist div.jp-playlist a:hover {
  color: #fff!important;
}

div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
  background-color: silver;
}

div.jp-type-playlist div.jp-playlist li.jp-playlist-current a {
  color: black !important;
  font-weight: bold;
}

/* @end */
div.jp-jplayer audio,
div.jp-jplayer {
  width: 0px;
  height: 0px;
}

div.jp-jplayer {
  background-color: #000000;
}

/* @group NO SOLUTION error feedback */
.jp-no-solution {
  position: absolute;
  width: 390px;
  margin-left: -202px;
  left: 50%;
  top: 10px;
  padding: 5px;
  font-size: .8em;
  background-color: #333;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  color: #FFF;
  display: none;
}

.jp-no-solution a {
  color: #FFF;
}

.jp-no-solution span {
  font-size: 1em;
  display: block;
  text-align: center;
  font-weight: bold;
}

.jp-audio .jp-no-solution {
  width: 190px;
  margin-left: -102px;
}

/* @end  */
